body {
    margin: 0;
    padding: 0;
}

a {
    font-size: 20px;
}

.elements a {
    text-decoration: none;
    color: white;
}

.elements a:hover {
    color: #d58512;
}

a:visited {
    color: white;
}

.toolbar {
    width: 100%;
    height: 40px;
    background-color: darkblue;
    text-align: center;
}

.elements {
    width: 200px;
    height: 50px;
    /*background-color: #3c763d;*/
    display: inline-block;
    padding: 5px;
    margin-left: 15px;

}
.actionForm {
    width: 100%;
    height: 1000px;
    margin-top: 10px;
    /*background-color: #f7e1b5;*/
    text-align: center;
}

form .ng-invalid.ng-dirty {
    border-color: red;
}

form .ng-valid.ng-dirty {
    border-color: green;
}