
.registration_form {
    clear:both;
    text-align:left;
    margin-top: 20px;
    width: 700px;
    height:950px;
    display: inline-block;
    background-color: lightblue;
    border: groove;
    position: relative;
}

#title {
    width: 700px;
    height: 50px;
    font-size: 20px;
}

.info {
    text-align: left;
}

#description {
    width: 90%;
    height: 100px;
    resize: none;
}

.medicine {
    text-align: center;
}

.medicine div {
    text-align: left;
    display: inline-block;
    width: 250px;
    /*float: left;*/
    margin-bottom: 0;
}

.medicine p {
    font-size: 17px;
    margin-bottom: 0;
}

#bottom_bar {
    text-align: left;
    width: 100%;
    position: absolute;
    bottom: 0;
}

form .ng-invalid.ng-dirty {
    border-color: red;
}

form .ng-valid.ng-dirty  {
    border-color: green;
}

.cure {
    margin-left: 5px;
    float: left;
}


