<!DOCTYPE html>
<html lang="en" data-ng-app="blockModule">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Настройка</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <link href="styles/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="styles/bootstrap/justified-nav.css" rel="stylesheet">
    <script type="text/javascript" src="scripts/admin_block.js"></script>
</head>
<body ng-controller="blockCtrl" ng-init="init()">
<div class="container">
    <a href="/logout" class="text-left btn btn-info btn-sm">Выйти</a>
    <div class="masthead">
        <h3 class="text-muted">Ветеринарная клиника(настройки)</h3>
        <ul class="nav nav-justified">
            <li><a href="admin.html">Добавить новые элементы</a></li>
            <li class="active"><a href="admin_block.html">Пользователи</a></li>
        </ul>
    </div>
    <div class="text-center">
        <table class="table">
            <tr class="text-center">
                <th class="col-md-2 text-center">Логин</th>
                <th class="col-md-2 text-center">Свойства</th>
            </tr>
            <tr ng-repeat="user in users">
                <td class="col-md-2 text-center">{{user.username}}</td>
                <td class="col-md-1 text-center"><input type="button" class="btn btn-primary" value="Разблокировать" data-ng-disabled="user.enabled"
                                                        data-ng-click="unlockUser(user.docId)"/>
                </td>
                <td class="col-md-2 text-center"><input type="button" class="btn btn-danger" value="Заблокировать" data-ng-disabled="!user.enabled"
                                                        data-ng-click="blockUser(user.docId)"/></td>
            </tr>
        </table>
    </div>

</div>

</body>
</html>