<!DOCTYPE html>
<html lang="en" ng-app="adminApp">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Настройка</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <link href="styles/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="styles/bootstrap/justified-nav.css" rel="stylesheet">
    <script type="text/javascript" src="scripts/admin.js"></script>
</head>
<body>
<div class="container" ng-controller="adminController" ng-init="getData()">
    <a href="/logout" class="text-left btn btn-info btn-sm">Выйти</a>
    <div class="masthead">
        <h3 class="text-muted">Ветеринарная клиника(настройки)</h3>
        <ul class="nav nav-justified">
            <li class="active"><a href="admin.html">Добавить новые элементы</a></li>
            <li><a href="admin_block.html">Заблокировать пользователя</a></li>
        </ul>
    </div>
    <h4 class="text-info">Добавьте новый тип или лекарство:</h4>
    <input type="button" value="Обновить списки" class="btn btn-info text-right" data-ng-click="reload()">
    <div class="form-inline col-md-4">
        <div class="form-group">
            <label for="type">Тип</label>
            <input type="text" ng-model="typeName" class="input-sm" id="type" placeholder="Новый тип">
        </div>
        <button type="button" class="btn btn-primary" ng-click="addTypeRecord()">Добавить</button>
        <p>Существующие типы: </p>
        <p ng-repeat="animal in types">{{animal.type}}</p>
    </div>
    <div class="form-inline col-md-4">
        <div class="form-group">
            <label for="medicine">Лекарство</label>
            <input type="text" ng-model="cureName" class="input-sm" id="medicine" placeholder="Название лекарства">
        </div>
        <button type="button" class="btn btn-primary" ng-click="addMedicine()">Добавить</button>
        <p>Существующие лекарства: </p>
        <p ng-repeat="cure in medicines">{{cure.name}}</p>
    </div>
</div>

</body>
</html>