<!DOCTYPE html>
<html lang="en" ng-app="empApp">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Сотрудники</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script type="text/javascript" src="scripts/employee.js"></script>
    <link href="styles/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="styles/bootstrap/justified-nav.css" rel="stylesheet">
    <link href="styles/common.css" rel="stylesheet">
</head>
<body ng-controller="empController">
<div class="container col-lg-12 text-center" ng-init="getEmployee()">
    <p> {{"Здравствуйте, " + user}}
        <a href="/logout" class="text-left btn btn-info btn-sm">Выйти</a>
    <div class="masthead">
        <h3 class="text-muted">Ветеринарная клиника</h3>
        <ul class="nav nav-justified">
            <li><a href="index.html">Завести карту</a></li>
            <li><a href="history.html">История</a></li>
            <li class="active"><a href="employee.html">Сотрудники</a></li>
        </ul>
    </div>
    <div class="actionForm">
        <p>Лечащий врач: <select id="doctor" ng-model="id">
            <option ng-repeat="doctor in doctors" value="{{doctor.id}}">{{doctor.FIO}}</option>
        </select>
            <input type="button" class="btn btn-info" value="Показать подчиненых" data-ng-click="getSubordinate()"></p>
        <table class="table table-bordered table-hover table-condensed">
            <tr>
                <th class="col-md-1 text-center">#</th>
                <th class="col-md-1 text-center">Кличка</th>
                <th class="col-md-1 text-center">Тип</th>
                <th class="col-md-5 text-center">Описание болезни</th>
                <th class="col-md-2 text-center">Лечащий врач</th>
                <th class="col-md-1 text-center">Дата поступления</th>
                <th class="col-md-1 text-center">Статус лечения</th>
                <th class="col-md-1 text-center">Лекарства</th>
                <th class="col-md-1 text-center">Свойства</th>
            </tr>
            <tr ng-repeat="cards in cardsOfMySubordinates">
                <td class="col-md-1 text-center">{{cards.cardId}}</td>
                <td class="col-md-1 text-center">{{cards.name}}</td>
                <td class="col-md-1 text-center">{{cards.type}}</td>
                <td class="col-md-5 text-center">{{cards.description}}</td>
                <td class="col-md-2 text-center">{{cards.docId.lastname + " " + cards.docId.firstname +" "+ cards.docId.midlename}}</td>
                <td class="col-md-1 text-center">{{cards.date | date:"dd/MM/yyyy"}}</td>
                <td class="col-md-1 text-center">{{cards.status}}</td>
                <td class="col-md-1 text-center">{{cards.medicine}}</td>
                <td class="col-md-1 text-center"><input type="button" class="btn btn-info" value="Сменить врача"
                                                        data-ng-click="changeDoctor(cards.cardId)" data-ng-disabled="isDisabled"/></td>
            </tr>
        </table>

        <div class="form-control" ng-show="isActive">
            <p>Лечащий врач: <select id="doc" ng-model="newDocId">
                <option ng-repeat="doctor in doctors" value="{{doctor.id}}">{{doctor.FIO}}</option>
            </select>
                <input type="button" data-ng-click="saveDoc()" value="Сохранить">
        </div>

    </div>
</div>
</body>
</html>