<!DOCTYPE html>
<html lang="en" data-ng-app="getApp">
<head>
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>История болезни</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <link href="styles/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="styles/bootstrap/justified-nav.css" rel="stylesheet">
    <link href="styles/history.css" rel="stylesheet">
    <link href="styles/common.css" rel="stylesheet">
    <script type="text/javascript" src="scripts/history.js"></script>
</head>
<body data-ng-controller="getController as get">
<div class="container col-lg-12 text-center" ng-init="init()">
    <p> {{"Здравствуйте, " + user}}
        <a href="/logout" class="text-left btn btn-info btn-sm">Выйти</a>
    <div class="masthead">
        <h3 class="text-muted">Ветеринарная клиника</h3>
        <ul class="nav nav-justified">
            <li><a href="index.html">Завести карту</a></li>
            <li class="active"><a href="history.html">История</a></li>
            <li><a href="employee.html">Сотрудники</a></li>
        </ul>
    </div>
    <div class="actionForm">
        <form class="search_form" data-ng-submit="find()">
            <p class="text-uppercase label-info">Поиск истории болезни: </p>
            <label for="from">От: </label>
            <input type="date" id="from" ng-model="card.fromDate">
            <label for="from">До: </label>
            <input type="date" id="to" ng-model="card.toDate">
            <label for="status">Статус лечения:</label>
            <select id="status" ng-model="card.status" required>
                <option selected value=" "></option>
                <option ng-repeat="state in states" value="{{state}}">{{state}}</option>
            </select>

            <label for="name">Кличка: </label>
            <input type="text" id="name" ng-model="card.name">

            <label>Тип:</label>
            <select id="type" ng-model="card.type">
                <option selected value=" "></option>
                <option ng-repeat="type in types" value="{{type}}">{{type}}</option>
            </select>

            <input type="submit" value="Найти" class="btn btn-primary">
            <input type="reset" class="btn btn-warning">
            <input type="button" value="Обновить" class="btn btn-info" data-ng-click="refresh()">
        </form>
        <table class="table">
            <tr>
                <th class="col-md-1 text-center">#</th>
                <th class="col-md-1 text-center">Кличка</th>
                <th class="col-md-1 text-center">Тип</th>
                <th class="col-md-5 text-center">Описание болезни</th>
                <th class="col-md-2 text-center">Лечащий врач</th>
                <th class="col-md-1 text-center">Дата поступления</th>
                <th class="col-md-1 text-center">Статус лечения</th>
                <th class="col-md-1 text-center">Лекарства</th>
            </tr>
            <tr ng-repeat="card in cards">
                <td class="col-md-1 text-center">{{card.number}}</td>
                <td class="col-md-1 text-center">{{card.name}}</td>
                <td class="col-md-1 text-center">{{card.type}}</td>
                <td class="col-md-5 text-center">{{card.description}}</td>
                <td class="col-md-2 text-center">{{card.doctor}}</td>
                <td class="col-md-1 text-center">{{card.date | date:"dd/MM/yyyy"}}</td>
                <td class="col-md-1 text-center">{{card.status}}</td>
                <td class="col-md-1 text-center">{{card.medicines}}</td>

                </td>
            </tr>
        </table>
    </div>
    <div class="footer">
        <p>© Veterinary clinic 2016</p>
    </div>
</div>
<div>
</div>
</body>
</html>