<!DOCTYPE html>
<html lang="en" ng-app="postApp">
<head>
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script type="text/javascript" src="scripts/angular/checkModel.js"></script>
    <script type="text/javascript" src="scripts/index.js"></script>
    <title>Ветеринарная клиника</title>
    <link href="styles/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="styles/bootstrap/justified-nav.css" rel="stylesheet">
    <link href="styles/index.css" rel="stylesheet">
    <link href="styles/common.css" rel="stylesheet">
</head>
<body ng-controller="postController as post">

<div class="container col-lg-12 text-center" ng-init="getDataFromServer()">
    <p> {{"Здравствуйте, " + user}}
        <a href="/logout" class="text-left btn btn-info btn-sm">Выйти</a>
    </p>
    <div class="masthead">
        <h3 class="text-muted">Ветеринарная клиника</h3>
        <ul class="nav nav-justified">
            <li class="active"><a href="index.html">Завести карту</a></li>
            <li><a href="history.html">История</a></li>
            <li><a href="employee.html">Сотрудники</a></li>
        </ul>
    </div>
    <div class="actionForm">
        <form name="registerFrm" class="registration_form" ng-submit="submit()">
            <h4 class="text-uppercase text-center">Медицинская карта</h4>

            <p>Кличка: <input type="text" id="name" ng-model="card.name" required></p>

            <p>Тип: <select id="type" ng-model="card.type">
                <option ng-repeat="type in types" value="{{type}}" required>{{type}}</option>
            </select></p>
            <p>Лечащий врач: <select id="doctor" ng-model="card.doctor">
                <option ng-repeat="doctor in doctors" value="{{doctor.id}}" required>{{doctor.FIO}}</option>
            </select></p>
            <p>Дата поступления: <input type="date" id="arrive_date" ng-model="card.date" required></p>

            <p>Статус лечения: <select id="status" ng-model="card.status" required>
                <option ng-repeat="state in states" value="{{state}}">{{state}}</option>
            </select></p>
            <p>Описание болезни:
                <textarea id="description" ng-model="card.description" ng-maxlength="250" required></textarea>
            </p>


            <p>Лекарства: </p>
            <div class="">
                <p ng-repeat="cure in cures">
                    <input type="checkbox" checklist-model="cures.cure" checklist-value="cure">{{cure}}
                </p>
            </div>

            <div id="bottom_bar">
                <input type="submit" value="Зарегистрировать" class="btn btn-primary">
                <input type="reset" class="btn btn-warning">
            </div>
        </form>
    </div>
    <div class="footer">
        <p>© Veterinary clinic 2016</p>
    </div>
</div>
<div>
</div>
</body>
</html>